# Backend Environment Variables
PORT=3096
mongo_url=mongodb+srv://<user>:<password>@cluster.mongodb.net/workflow
mongo_url_direct=mongodb://<user>:<password>@cluster-shard-00-00.mongodb.net:27017/workflow?ssl=true&authSource=admin&replicaSet=atlas-shard-0
JWT_SECRET=your_secure_random_secret_key

# Frontend Environment Variables (if using .env in frontend)
VITE_API_BASE_URL=http://localhost:3096
